.home__container {
  row-gap: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.home__social {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  margin-bottom: var(--mb-2);
}

.home__social-icon {
  font-size: 1.25rem;
  color: var(--title-color);
}

.home__social-icon:hover {
  color: var(--title-color-dark);
}

.home__data {
  max-width: 600px;
  /* margin-bottom: var(--mb-3); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-0-25);
  text-align: center;
}

.home__subtitle {
  font-size: var(--h3-font-size);
  position: relative;
  font-weight: var(--font-normal);
  margin-bottom: var(--mb-1);
  padding-left: 0;
  text-align: center;
}

.home__subtitle::before {
  display: none;
}

.home__description {
  max-width: 500px;
  margin-bottom: var(--mb-3);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.home__scroll {
  margin-left: 0;
  display: flex;
  justify-content: center;
  margin-top: var(--mb-3);
}

.home__scroll-name {
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-left: 2px;
  margin-right: var(--mb-0-25);
}

.home__scroll-arrow {
  color: var(--title-color);
  font-size: 1.25rem;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .home__content {
    width: 100%;
  }

  .home__subtitle {
    margin-bottom: var(--mb-1);
  }

  .home__description {
    max-width: initial;
    margin-bottom: var(--mb-2-5);
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .home__content {
    padding-top: 3.5rem;
  }

  .home__scroll {
    display: none;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
}
